.one{
  background-color:green;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}
.two{
  background-color:yellow;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}
.three{
  background-color:red;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}

.four{
  background-color:brown;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}
.five{
  background-color:red;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}
.six{
  background-color:yellow;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}



.seven{
  background-color:darkblue;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}
.eight{
  background-color:white;
  height: 50px;
  width:200px;
  border: 2px solid white;
  margin: 0;
}
.nine{
  background-color:red;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}


.ten{
  background-color:red;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}
.eleven{
  background-color:white;
  height: 50px;
  width:200px;
  border: 2px solid white;
  margin: 0;
}
.twelve{
  background-color:red;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}

.thirteen{
  background-color:darkblue;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}
.fourteen{
  background-color:white;
  height: 50px;
  width:200px;
  border: 2px solid white;
  margin: 0;
}
.fifteen{
  background-color:darkblue;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}


.sixteen{
  background-color:black;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}
.seventeen{
  background-color:red;
  height: 50px;
  width:200px;
  border: 2px solid white;
  margin: 0;
}
.eighteen{
  background-color:yellow;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}












.nineteen{
  background-color:green;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}
.twenty{
  background-color:yellow;
  height: 50px;
  width:200px;
  border: 2px solid white;
  margin: 0;
}
.twenty_one{
  background-color:blue;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin: 0;
}
















.twenty_two{
  background-color:red;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 100px;
}
.twenty_three{
  background-color:white;
  height: 50px;
  width:200px;
  border: 2px solid white;
  margin-top: 0;
}
.twenty_four{
  background-color:blue;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 0px;
}


















.twenty_five{
  background-color:red;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 100px;
}
.twenty_six{
  background-color:white;
  height: 50px;
  width:200px;
  border: 2px solid white;
  margin-top: 0;
}
.twenty_seven{
  background-color:black;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 0px;
}













.twenty_eight{
  background-color:brown;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 100px;
}
.twenty_nine{
  background-color:white;
  height: 50px;
  width:200px;
  border: 2px solid white;
  margin-top: 0;
}
.thirty{
  background-color:brown;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 0px;
}



















.thirty_one{
  background-color:green;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 100px;
}
.thirty_two{
  background-color:red;
  height: 50px;
  width:200px;
  border: 2px solid white;
  margin-top: 0;
}
.thirty_three{
  background-color:green;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 0px;
}





.thirty_four{
  background-color:red;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 100px;
}
.thirty_five{
  background-color:blue;
  height: 50px;
  width:200px;
  border: 2px solid white;
  margin-top: 0;
}
.thirty_six{
  background-color:green;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 0px;
}






.thirty_seven{
  background-color:yellow;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 100px;
}
.thirty_eight{
  background-color:white;
  height: 50px;
  width:200px;
  border: 2px solid white;
  margin-top: 0;
}
.thirty_nine{
  background-color:green;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 0px;
}












