.firstcolor{
    background-color:green;
    height: 20px;
    width: 40px;
    border: 2px solid white;
    margin: 0;
  }
.secondcolor{
    background-color:yellow;
    height: 20px;
    width: 40px;
    border: 2px solid white;
    margin: 0;
  }
  .thirdcolor{
    background-color:red;
    height: 20px;
    width: 40px;
    border: 2px solid white;
    margin: 0;
  }